@import './reset.styl'

:root
	font-size var(--px)
	--color-bg #cacaca
	--color-ink #4b3876
	--manga-width 'min(100vw, 70vh)' % null
	--px calc((var(--manga-width) / 324))

html
	background var(--color-bg)
	color var(--color-ink)
	font-family serif

//Hide the scrollbar
body
	position fixed
	overflow hidden
	touch-action manipulation

*, button, input, textarea
	font-smooth never !important
	-webkit-font-smoothing none !important

button
	cursor pointer