@import './reset.styl'

:root
	font-size var(--px)
	--color-bg #e5e0cf
	--color-ink #4b3876
	--color-primary #ff0000
	--manga-width 'min(100vw, 70vh)' % null
	--px calc((var(--manga-width) / 324))
	--nav-margin-vert 5rem
	--nav-margin-horiz 10rem
	--header-height 50rem
	--footer-height calc(1rem + var(--nav-margin-vert) + var(--header-height) + var(--footer-padding-bottom))
	--footer-padding-bottom calc(var(--nav-margin-vert) + env(safe-area-inset-bottom))

html
	background var(--color-bg)
	color var(--color-ink)
	font-weight bold
	font-family serif

//Hide the scrollbar
body
	position fixed
	overflow hidden
	touch-action manipulation

*, button, input, textarea
	font-smooth never !important
	-webkit-font-smoothing none !important
	image-rendering pixelated

button
	cursor pointer

.splash
	position fixed
	background white
	inset 0

	.kindle-ish-tree
		position fixed
		bottom 0
		left 'calc((100vw - var(--manga-width)) / 2)' % null
		display block
		margin 0 auto
		width var(--manga-width)

	.ramp
		position fixed
		top 0
		right 0
		left 0
		height 400rem
		background-image url('/assets/splash_ramp.webp')
		background-size contain

	.loading-text
		position relative
		top 24vh
		color black
		text-align center
		font-size 30rem

		span
			padding 1rem

.bg-overlay, .ink-overlay
	position fixed
	pointer-events none
	inset 0

.bg-overlay
	background var(--color-bg)
	mix-blend-mode darken

.ink-overlay
	background var(--color-ink)
	mix-blend-mode lighten

.fa
	display inline-block
	width 1.2em
	height 1.2em
	line-height 1.2em
	aspect-ratio 1 / 1